# Hidden files
.DS_Store
Thumbs.db

# IDE Files
.devcontainer/*
.devcontainer.json
.vscode
.idea

# Environment variables for testing
.env
.env.*
!.env.dist
!.env.ci

# Ruleset Overrides
.wp-env.override.json
phpcs.xml
phpunit.xml
phpstan.neon
rector.php

# The generated plugin by `npm run plugin-zip`
wpai-chatbot.zip

# Composer auth
auth.json

# Composer deps
vendor

# NPM deps
node_modules

# Build files
build

# WP CLI config overrides
wp-cli.local.yml

# config
codeception.yml

# Tests
.phpcs-cache.json
.log/
